@{
    ViewBag.Title = "Home Page";
}

<div class="center">

    <a class="center" href="~/Home/Table"> <input type="button" class="btn btn-table-link" value="Таблицы пользователей и групп" /> </a>

</div>